@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@font-face {font-family: "Digital-7"; src: url("//db.onlinewebfonts.com/t/1e670d88b23c7ab956f1829e3828a210.eot"); src: url("//db.onlinewebfonts.com/t/1e670d88b23c7ab956f1829e3828a210.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1e670d88b23c7ab956f1829e3828a210.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1e670d88b23c7ab956f1829e3828a210.woff") format("woff"), url("//db.onlinewebfonts.com/t/1e670d88b23c7ab956f1829e3828a210.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1e670d88b23c7ab956f1829e3828a210.svg#Digital-7") format("svg"); }

body {
  background-color: #b4b4b4;
  color: #131313;
  user-select: none;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#calculator {
  background-color: #496c83;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 25px 10px;
  border: 2px solid #738ea0;
  display: grid;
  grid-template:
  "display display display display" 1fr
  "clear clear divide multiply" 60px
  "seven eight nine subtract" 60px
  "four five six add" 60px
  "one two three equals" 60px
  "zero zero decimal equals" 60px
  / 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}

button {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  background-color: #ebebeb;
  padding: 0;
  border: 0;
  border-radius: 3px;
}

button:hover {
  opacity: 93%;
}

#display-box {
  color: #FFF;
  font-family: "Digital-7";
  grid-area: display;
  border-bottom: 1px solid #FFF;
  text-align: right;
  padding: 0 3px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

#display-box > #display {
  font-size: 29px;
}

#display-box > #output {
  min-height: 20px;
  font-size: 20px;
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
#decimal {
  grid-area: decimal;
}
#clear {
  background-color: #e08484;
  grid-area: clear;
}
#equals {
  background-color: #a6cfff;
  grid-area: equals;
}
#add, #subtract, #divide, #multiply {
  background-color: #c2c2c2;
}

#footer {
  text-align: center;
}

#footer > a {
  padding-top: 2px;
  text-decoration: none;
  color: #131313;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
}